In [10]:
import pandas as pd
import os

In [9]:
nea = pd.read_csv('dataset\\NEA_notna.csv').sort_values(by='H')[['Number', 'Name']]
nea['Number'] = nea['Number'].astype(str)
nea

      Number         Name
3       1036      Ganymed
0        433         Eros
14      1866     Sisyphus
80      4954         Eric
8       1627         Ivar
...      ...          ...
1492  367943       Duende
909   209215          NaN
2201  469219  Kamo`oalewa
2275  477719          NaN
2279  478784          NaN

[3279 rows x 2 columns]

In [18]:
# formatted_nea = [f"{int(num):06d}" for num in nea['Number']]

In [33]:
# asteroids_path = 'E:\Senior Project\ZPH'
# se1 = [f for f in os.listdir(asteroids_path) if f.endswith('.se1')]